@font-face {
    font-family: 'Minecrafter_Reg';
    src: url('fonts/Minecrafter_Reg.eot');
    src: url('fonts/Minecrafter_Reg.eot') format('embedded-opentype'),
         url('fonts/Minecrafter_Reg.woff2') format('woff2'),
         url('fonts/Minecrafter_Reg.woff') format('woff'),
         url('fonts/Minecrafter_Reg.ttf') format('truetype'),
         url('fonts/Minecrafter_Reg.svg#Minecrafter_Reg') format('svg');
}
