@import '../Globals.scss';

$server-actions-height: 150px;
$list-height: calc(100% - #{$server-actions-height});
$list-gutter-total: 30px;

.server-list {
    display: flex;
    height: 100%;

    .list {
        text-align: center;
        margin: auto;
        height: calc(100% - #{$list-gutter-total});
        width: calc(100% - #{$list-gutter-total});
        max-width: 1500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow-x: hidden;

        a{
            text-decoration: none;
            color: $coal;
        }

        .action-container {
            height: 74px;
            padding: 22px;

            button, a {
                float:right;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                margin: 0 10px;
                background-color: $emerald;
                border: none;
                width: 100px;
                height: 30px;
                color: #fff;
                font-family: 'Fira Code', monospace;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        .server {
            width: 100%;
            text-align: left;
            padding: 10px;
            display: flex;
            cursor: pointer;
            
            img.server-field {
                width: auto;
            }

            .server-field {
                margin: auto 20px;
                width: calc((100% - 185px) / 3);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.small {
                    width: calc((100% - 185px) / 6);
                }

                &.large {
                    width: calc((100% - 185px) * 5 / 12);
                }
            }

            &:hover {
                background-color: rgba($coal, 0.4);
                color: #fff;
            }
        }
    }
}