.server {
    width: 80%;
    margin: 0 auto;
    .status-img {
        width: 35px;
    }
    .console-wrapper {
        background-color: #454d55;

        .console-output {
            background-color: #343a40;
            color: #fff;
            font-family: 'Fira Code', monospace;

            samp {
                font-family: 'Fira Code', monospace;
            }
        }
    }

    .property-input {
        background-color: transparent;
        color: #fff;
        border: none;
    }
}