@import '../Globals.scss';

.template-list {
    display: flex;
    width: 100%;
    height: 100%;

    .list-container {
        width: 90%;
        margin: 0 auto;

        table {
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.field-wrapper {
    position: relative;
    padding: 15px 0 0;
    margin: 20px 0px;
    width: 50%;
    float: left;

    &.full {
        width: 100%;
    }

    &.small {
        width: 30%;
    }

    .field {
        font-family: inherit;
        width: 98%;
        border: 0;
        border-bottom: 2px solid $coal;
        outline: 0;
        font-size: 1.3rem;
        color: $coal;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
            color: transparent;
        }
      
        &:placeholder-shown ~ .field-label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }
    }

    .field-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $coal;
    }
    
    .field:focus {
        ~ .field-label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $lapis;
            font-weight:700;    
        }

        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, $lapis, $diamond);
        border-image-slice: 1;
    }
    
    .field{
        &:required,&:invalid { box-shadow:none; }
    }
}

// @import '../Globals.scss';

// $template-actions-height: 150px;
// $list-height: calc(100% - #{$template-actions-height});
// $list-gutter-total: 30px;

// .template-list {
//     display: flex;
//     height: 100%;

//     .list {
//         text-align: center;
//         margin: auto;
//         height: calc(100% - #{$list-gutter-total});
//         width: calc(100% - #{$list-gutter-total});
//         max-width: 1500px;
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//         overflow-x: hidden;

//         .action-container {
//             height: 74px;
//             padding: 22px;

//             button, a {
//                 float:right;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 text-decoration: none;
//                 margin: 0 10px;
//                 background-color: $emerald;
//                 border: none;
//                 width: 100px;
//                 height: 30px;
//                 color: #fff;
//                 font-family: 'Fira Code', monospace;
//                 font-size: 1rem;
//                 cursor: pointer;
//             }
//         }

//         .template {
//             width: 100%;
//             text-align: left;
//             padding: 10px;
//             display: flex;
//             cursor: pointer;
            
//             img.template-field {
//                 width: auto;
//             }

//             .template-field {
//                 margin: auto 20px;
//                 width: calc((100% - 185px) / 3);
//                 overflow: hidden;
//                 white-space: nowrap;
//                 text-overflow: ellipsis;

//                 &.small {
//                     width: calc((100% - 185px) / 6);
//                 }

//                 &.large {
//                     width: calc((100% - 185px) * 5 / 12);
//                 }
//             }

//             &:hover {
//                 background-color: rgba($coal, 0.4);
//                 color: #fff;
//             }
//         }
//     }
// }