@import './Globals.scss';

.App {
  top: 0;
  left: 0;
  position: absolute;
  width: $app-width;
  height: $app-height;
  
  .app-content {
    width: $app-width;
    height: calc(#{$app-height} - #{$header-height});
    margin-top: $header-height;
    background-color: $coal;
    
  }
  .right-panel {
    width: $right-panel-width;
    height: $app-height;
    align-self: right;
    margin-top: $header-height;
    margin-left: calc(#{$app-width} - #{$right-panel-width});
    background-color: $iron;
    opacity: 50%;
  }
}