@import './Globals.scss';

.App {
  top: 0;
  left: 0;
  position: absolute;
  width: $app-width;
  height: $app-height;
  
  .app-content {
    width: $app-width;
    height: calc(#{$app-height} - #{$header-height});
    margin-top: $header-height;
    
  }
}