body {
  margin: 0;
  font-family: 'Fira Code', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace !important;
}

input {
  font-family: 'Fira Code', monospace !important;
}